header {
  border: 20px solid white;
  /* height: 100px; */
  /* widows: 300px; */
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  width: 65%;
  color:white;
}

.underscore {
  /* border: 1px solid white; */
  /* height: 150px; */
  widows: 300px;
  font-size: 50px;
  text-align: center;
  margin: 25px auto;
  width: 80%;
  color: white;
}

.rightGuess {
  border: 1px solid white;
  height: 150px;
  widows: 20px;
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  width: 65%;
  color: white;
}

.wrongGuess {
  border: 1px solid white;
  height: 150px;
  widows: 20px;
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  width: 65%;
  color: white;
}
html {
  background: url("../images/movieScreen3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: fill;
}

.end {
color: hotpink;
}

#msc {
  width: 1000px;
  text-align: center;
}
