header {
  border: 20px solid white;
  height: 100px;
  /* widows: 300px; */
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  width: 80%;
  color: black;
}

.underscore {
  border: 1px solid white;
  height: 150px;
  widows: 300px;
  font-size: 50px;
  text-align: center;
  margin: 25px auto;
  width: 80%;
  /* color: white; */
}

.rightGuess {
  border: 1px solid white;
  height: 150px;
  widows: 20px;
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  width: 80%;
  color: white;
}

.wrongGuess {
  border: 1px solid white;
  height: 150px;
  widows: 20px;
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  width: 80%;
  color: white;
}

body {
  /* background-image: url("../images/movieScreen.jpg");
  background-size: 99%; */
  background: blue;
}

/* footer{
  background-color:rgba(255, 255, 255, 0.468);
} */
#msc {
  width: 1000px;
  text-align: center;
}
